<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen.final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.chen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.chen.Quiz_Creater" />
        <activity android:name="com.example.chen.ImportQuiz" />
        <activity android:name="com.example.chen.GetStat" />
        <activity android:name="com.example.chen.QuizDetails" />
        <activity android:name="com.example.chen.QuizFragment" />
        <activity android:name="com.example.chen.QuizDatabaseHelper" />
        <activity android:name="com.example.chen.abstractQuestion" />
        <activity android:name="com.example.chen.multipleQuestion" />
        <activity android:name="com.example.chen.multipleDetails" />
        <activity android:name="com.example.chen.multipleFragment" />
        <activity android:name="com.example.chen.androidlabs.CreateQuiz"></activity>
    </application>

</manifest>